name: Favorites Service CI/CD (DockerHub)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-push:
    name: Build and Push to DockerHub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        working-directory: favorites_service
        run: |
          docker build . --tag ${{ secrets.DOCKER_USERNAME }}/favorites-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/favorites-service:latest

